<mat-toolbar color="primary" class="login-toolbar">
  <h1><span>Autenticación SUM 📚</span></h1>
</mat-toolbar>
<div class="login-container">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="login-form"
    aria-labelledby="login-title"
  >
    <div class="logo-container">
      <img
        src="assets/images/logo_sum.png"
        alt="Logo del Sistema Único de Matrícula"
        class="login-logo"
      />
    </div>
    <div class="form-fields">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          placeholder="Ingresa tu nombre"
          required
        />
        <mat-error *ngIf="loginForm.get('username').hasError('required')">
          Nombre es requerido
        </mat-error>
        <mat-error *ngIf="loginForm.get('username').hasError('pattern')">
          Nombre no válido
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Ingresa tu contraseña"
          required
        />
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Contraseña es requerida
        </mat-error>
        <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
          Contraseña debe tener al menos 6 caracteres
        </mat-error>
      </mat-form-field>
      <span class="sr-only" aria-live="polite" *ngIf="loading">
        Cargando, por favor espere...
      </span>
      <button *ngIf="!loading" mat-raised-button color="primary" type="submit">
        Ingresar
      </button>
      <div *ngIf="loading" class="loading-container">
        <mat-progress-bar
          color="primary"
          mode="indeterminate"
          aria-label="Cargando"
        ></mat-progress-bar>
        <p class="loading-message">Iniciando sesión, por favor espere...</p>
      </div>
    </div>
  </form>
</div>
