<mat-toolbar color="primary">
  <h1><span>Curso 📚</span></h1>
</mat-toolbar>
<mat-stepper orientation="horizontal" linear>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Selecciona tu carrera</ng-template>
      <mat-button-toggle-group
        formControlName="carrera"
        (change)="watchPlanes()"
        style="display: flex; margin: 1rem 0"
      >
        <mat-button-toggle
          *ngFor="let carrera of carrerasArray"
          [value]="carrera"
          style="width: 100%"
          >{{ carrera }}</mat-button-toggle
        >
      </mat-button-toggle-group>
      <div>
        <button
          mat-flat-button
          matStepperNext
          class="flow-button"
          color="warn"
          type="button"
          [disabled]="firstFormGroup.invalid"
        >
          Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Selecciona tu plan y ciclo</ng-template>
      <div>
        <label style="margin: 1rem; font-weight: 400">Plan de estudios</label>
        <mat-divider style="margin: 0.5rem 0"></mat-divider>
        <mat-radio-group
          (change)="watchCursos()"
          style="margin: 1rem 0; display: flex; flex-wrap: wrap"
          aria-label="Elige el plan de estudios 🧠
      "
          formControlName="plan"
        >
          <mat-radio-button
            *ngFor="let plan of planesArray"
            [value]="plan"
            color="primary"
            >Plan {{ plan }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <label style="margin: 1rem; font-weight: 400">Ciclo del curso</label>
      <mat-divider style="margin: 0.5rem 0"></mat-divider>
      <mat-form-field>
        <mat-label>Ciclo</mat-label>
        <mat-select formControlName="ciclo" (selectionChange)="watchCursos()">
          <mat-option *ngFor="let ciclo of ciclos" [value]="ciclo">
            {{ ciclo }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button
          mat-flat-button
          matStepperPrevious
          class="flow-button"
          style="margin-top: -4px"
          color="warn"
          type="button"
        >
          Anterior
        </button>
        <button
          mat-flat-button
          matStepperNext
          color="warn"
          type="button"
          class="flow-button"
          style="margin-top: -4px"
          [disabled]="secondFormGroup.invalid"
        >
          Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Selecciona tu curso</ng-template>
      <cdk-virtual-scroll-viewport
        *ngIf="cursosArray?.length > 0"
        itemSize="7"
        style="height: 360px; margin: 1rem 0"
      >
        <mat-accordion style="margin: 1rem 2rem">
          <mat-expansion-panel *cdkVirtualFor="let curso of cursosArray">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 style="margin-right: 2rem">•</h2>
                {{ curso }}</mat-panel-title
              >
            </mat-expansion-panel-header>
            <mat-chip-listbox
              formControlName="curso"
              aria-label="Selecciona tu sección 📚"
            >
              <mat-chip-option
                *ngFor="let seccion of secciones"
                [value]="{
                  curso: curso,
                  seccion: seccion.numero,
                  profesor: seccion.profesor
                }"
                matTooltip="{{ seccion.profesor }}"
              >
                <span>Sección {{ seccion.numero }}</span>
              </mat-chip-option>
            </mat-chip-listbox>
          </mat-expansion-panel>
        </mat-accordion>
      </cdk-virtual-scroll-viewport>

      <div
        *ngIf="cursosArray?.length <= 0"
        style="text-align: center; margin: 1rem"
      >
        <p style="color: #a8a29e; font-size: 2rem">
          No hay cursos registrados<br />Prueba con otras opciones! 📖
        </p>
      </div>
      <div>
        <button
          mat-flat-button
          matStepperPrevious
          class="flow-button"
          color="warn"
          type="button"
        >
          Anterior
        </button>
        <button
          mat-flat-button
          color="warn"
          class="flow-button"
          (click)="addCurso()"
          [disabled]="thirdFormGroup.invalid"
        >
          Agregar
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
