@use "@angular/material" as mat;
@include mat.core();

$horario-primary: mat.define-palette(
  (
    50: #70191c,
    100: #70191c,
    200: #70191c,
    300: #70191c,
    400: #70191c,
    500: #70191c,
    600: #70191c,
    700: #70191c,
    800: #70191c,
    900: #70191c,
    A100: #70191c,
    A200: #70191c,
    A400: #70191c,
    A700: #70191c,
    contrast: (
      50: white,
      100: white,
      200: white,
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: white,
      A200: white,
      A400: white,
      A700: white,
    ),
  )
);
$horario-accent: mat.define-palette(
  mat.$grey-palette,
  A100,
  A200,
  A400
); // white
$horario-warn: mat.define-palette(mat.$red-palette, 900); // #B51222

$horario-theme: mat.define-light-theme(
  (
    color: (
      primary: $horario-primary,
      accent: $horario-accent,
      warn: $horario-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($horario-theme);

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #70191c;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  animation-delay: 1s;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
