.toolbar {
  display: flex;
  justify-content: right;
  margin: 20px;
}

.content-wrapper {
  position: relative;
  height: calc(100vh - 64px); /* Subtract toolbar height */
}

.virtual-scroll {
  height: 100%;
  width: 100%;
}

.floating-add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure button appears above other content */
}

.empty-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0 20px;
}

.arrow {
  font-size: 48px;
  margin-top: 20px;
  transform: rotate(45deg);
  color: #a8a29e;
}

.op-button {
  margin: 0 10px;
}