<div style="height: 100vh; width: 100vw; background-color: white">
  <mat-toolbar style="justify-content: space-between" color="primary">
    <div style="display: flex">
      <img
        style="padding: 1rem 1rem 0 0"
        src="assets/images/logo_blanco.png"
        height="52"
      />
      <h1><span>Chapa tu aula! 📅</span></h1>
    </div>
    <div>
      <button
        (click)="exportCursos()"
        mat-raised-button
        class="op-button"
        aria-label="subir"
        color="warn"
      >
        <mat-icon>upload_2</mat-icon>
        Exportar
      </button>
      <button
        (click)="importCursos()"
        mat-raised-button
        class="op-button"
        aria-label="descargar"
        color="warn"
      >
        <mat-icon>download_2</mat-icon>
        Importar
      </button>
      <button
      (click)="openLogin()"
      mat-raised-button
      class="op-button"
      aria-label="login"
      color="warn"
    >
      <mat-icon>login</mat-icon>
      Login
    </button>
    </div>
  </mat-toolbar>
  <div>
    <div *ngIf="cursos == null" class="empty-courses">
      <p style="color: #a8a29e; font-size: 2rem">
        No hay cursos registrados actualmente, has click en el botón de abajo
        para agregar tus cursos! 📖
      </p>
      <mat-icon class="arrow">south_east</mat-icon>
    </div>
    <cdk-virtual-scroll-viewport
      *ngIf="cursos != null"
      itemSize="7"
      style="height: calc(100vh - 160px)"
    >
      <div
        style="margin: 2rem 4rem"
        *cdkVirtualFor="let carrera of cursos | keyvalue"
      >
        <h2 [@slideRight]="animationStates[carrera.key] || 'initial'">
          {{ carrera.key }}
        </h2>
        <div style="margin: 1rem" *ngFor="let plan of carrera.value | keyvalue">
          <h3
            [@slideRight]="animationStates[carrera.key + plan.key] || 'initial'"
          >
            Plan {{ plan.key }}
          </h3>
          <mat-card
            style="margin: 1rem"
            *ngFor="let ciclo of plan.value | keyvalue"
          >
            <mat-card-header>
              <mat-card-title
                [@slideRight]="
                  animationStates[carrera.key + plan.key + ciclo.key] ||
                  'initial'
                "
              >
                <h1
                  *ngIf="ciclo.key != 'Electivo'"
                  style="margin: -6px 0; margin-left: -3px"
                >
                  Ciclo °{{ ciclo.key }}
                </h1>
                <h1
                  *ngIf="ciclo.key == 'Electivo'"
                  style="margin: -6px 0; margin-left: -3px"
                >
                  {{ ciclo.key }}s
                </h1>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let curso of ciclo.value; let last = last">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <div
                    [@slideRight]="
                      animationStates[
                        carrera.key + plan.key + ciclo.key + curso.curso
                      ] || 'initial'
                    "
                  >
                    <p style="font-weight: bold">{{ curso.curso }}</p>
                    <p>{{ curso.profesor }}</p>
                    <p matListItemLine>Sección {{ curso.seccion }}</p>
                    <h5>Salón: NP-101</h5>
                  </div>
                  <div>
                    <button
                      (click)="deleteCurso(curso)"
                      mat-mini-fab
                      style="margin: 10px"
                      color="warn"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <mat-divider *ngIf="!last" style="margin: 1rem 0"></mat-divider>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="toolbar">
    <button (click)="openCursos()" class="add-button" mat-fab color="warn">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
