.toolbar {
  display: flex;
  justify-content: right;
  margin: 20px;
}

.empty-courses {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 30vw;
  height: calc(100vh - 160px);
}
.op-button {
  margin: 0 10px;
}

.arrow {
  color: #a8a29e;
  position: absolute;
  transform: scale(4);
  bottom: 100px;
  right: 100px;
}